.caja_externa{
	background-color: pink;
	width: 1000px;
	border: 10px solid blue;
	margin:10px;
	
}
.caja_interna{
	
	border: 1px dashed black;
	background-color:white;
	margin:30px 10px  50px 60px;
}
p{
	
	text-align: center;
}